*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-image:url(../image/images\ \(1\).jpeg);
    background-size: cover;
    height: 600px;
    background-position: center;
    background-repeat: no-repeat;
  font-family: sans-serif;
}
.menu-bar{
    background: green;
    text-align: center;
    position: relative;
}
.menu-bar ul{
    display: inline-flex;
    list-style: none;
    color: white;
}
.menu-bar ul li{
    width: 120px;
    margin: 15px;
    padding: 15px;
}
.menu-bar ul li a{
    text-decoration: none;
    color: white;
}
.active,.menu-bar ul li:hover{
      background: #2bab0d;
      border-radius: 3px;
     
}

.menu-bar .fa{
   margin-right: 8px;
}
.sub-menu-1{
    display: none;
}
/* .menu-bar ul li:hover .sub-menu-1{
    display: block;
    position: absolute;
    background: rgba(0, 100, 0,);
    margin-top: 15px;
    margin-left: -15px;
}
.menu-bar ul li:hover .sub-menu-1 ul{
    display: block;
    margin: 10px;
}
.menu-bar ul li:hover .sub-menu-1 ul li{
    width: 150px;
    padding: 10px;
    border-bottom: 1px dotted white;
    background: transparent;
    border-radius: 0;
    text-align: left;
}
menu-bar ul li:hover .sub-menu-1 ul li :last-child{
    border-bottom: none;
}

.menu-bar ul li:hover .sub-menu-1 ul li a:hover{
    color: #b2ff00;
}

.fa-angle-right{
    float: right;
}

.sub-menu-2{
    display:;
}

.hover-me:hover .sub-menu-2{
    position: absolute;
    display: block;
    margin-top: 40px;
    margin-left: 14px;
    background: rgb(0,100,0); 
} */